@font-face {
   font-family: 'Dmitry Rastvortsev - KyivType Sans Medium';
   font-display: swap;
   src: url('file:///C:/Users/Katia/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-06_143224/fonts/Dmitry%20Rastvortsev%20-%20KyivType%20Sans%20Medium/font.ttf');
}
